// Colors
$primary-color: #99823D;
$text-color: #141414;

$light-bgcolor: #EBEBEB;
$gray-bgcolor: #3D3D3D;
$dark-bgcolor: #141414;


// Fonts
$heading-font: 'Teko', sans-serif;
$base-font: 'Open Sans', sans-serif;